.hero {
	padding: 8px 0 40px;
	position: relative;
	overflow: hidden;
}

.hero__breadcrumbs-list {
	display: flex;
	font-size: 16px;
	line-height: 19px;
}

.hero__breadcrumbs-item:not(:last-child) {
	margin-right: 8px;
}

.hero__breadcrumbs-item:not(:first-child) {
	position: relative;
	padding-left: 18px;

	&::before {
		display: block;
		content: '';
		width: 10px;
		height: 1px;
		background-color: $main-content-color;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(50%);
	}
}

.hero__breadcrumbs-link {
	transition: color .3s ease-in;
	&:hover {
		color: $highlighting-color;
	}
}

.hero__main-wrapper {
	padding-top: 44px;

	&::after {
		content: '';
		display: block;
		width: 245px;
		height: 245px;
		background: {
			color: transparent;
			image: url('../img/hero/Superman.png');
			position: 50%;
			size: cover;
			repeat: no-repeat;
		}

		background-image: -webkit-image-set(
			url('../img/hero/Superman.avif') 1x,
			url('../img/hero/Superman.webp') 1x
		);
		background-image: image-set(
			url('../img/hero/Superman.avif') 1x,
			url('../img/hero/Superman.webp') 1x
		);

		position: absolute;
		top: 27px;
		right: -113px;
	}

}

.hero__title {
	display: block;
	max-width: 202px;
	font-weight: 700;
	font-size: 26px;
	line-height: 150%;
	color: $title-color;
	margin-bottom: 24px;
}

.hero__title-span {
	color: $highlighting-color;
}

.hero__price {
	font-weight: 600;
	font-size: 20px;
	line-height: 29px;
	text-transform: uppercase;
	text-align: right;
	display: block;
	max-width: 256px;
	padding-left: 73px;
	margin-bottom: 16px;
	position: relative;

	&::before {
		content: '';
		display: block;
		width: 48px;
		height: 48px;
		background: {
			color: transparent;
			image: url('../img/sprite.svg#spent');
			position: 50%;
			size: cover;
			repeat: no-repeat;
		}

		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}
.hero__price-span {
	&_value {
		font-weight: 700;
		font-size: 38px;
		line-height: 55px;
		color: $highlighting-color;
	}

	&_nominal {
		font-size: 30px;
		line-height: 29px;
	}
}

@media (min-width: 768px) {
	.hero {
		padding: 11px 0 40px;
	}

	.hero__main-wrapper {
		padding-top: 15px;

		&::after {
			width: 410px;
			height: 410px;
			top: 194px;
			right: -170px;
		}
	}

	.hero__title {
		max-width: 100%;
		font-size: 46px;
		line-height: 65px;
		margin-bottom: 18px;
	}

	.hero__price {
		margin-bottom: 17px;
	}
}

@media (min-width: 1280px) {
	.hero {
		padding: 36px 0;
		position: static;
	}

	.hero__title {
		max-width: 688px;
		margin-bottom: 40px;
	}

	.hero__main-wrapper {
		position: relative;
		overflow: hidden;

		&::after {
			width: 435px;
			height: 435px;
			top: 15px;
			right: 0;
		}

		&::before {
			content: '';
			display: block;
			width: 458px;
			height: 416px;
			position: absolute;
			top: 60px;
			right: -16px;
			background: {
				color: transparent;
				image: url('../img/hero/bg-stars.png');
				position: 50%;
				size: cover;
				repeat: no-repeat;
			}

			background-image: -webkit-image-set(
				url('../img/hero/bg-stars.avif') 1x,
				url('../img/hero/bg-stars.webp') 1x
			);
			background-image: image-set(
				url('../img/hero/bg-stars.avif') 1x,
				url('../img/hero/bg-stars.webp') 1x
			);
		}
	}
}

@media (min-width: 1920px) {
	.hero {
		padding: 30px 0;
	}

	.hero__title {
		max-width: 880px;
		font-size: 56px;
		line-height: 80px;
		margin-bottom: 22px;
	}

	.hero__price {
		margin-bottom: 16px;
	}

	.hero__main-wrapper {
		&::after {
			width: 560px;
			height: 560px;
		}

		&::before {
			width: 620px;
			height: 563px;
			right: -27px;
		}
	}
}