$main-font-family: Lato, sans-serif;
$main-font-size: 18px;
$main-font-weight: 400;
$main-line-height: 160%;
$main-background-color: #FAFAFA;
$main-content-color:rgba(51, 26, 47, 0.8);

$title-color: #331A2F;
$highlighting-color: #CF51CE;